<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
	<head>
		<link rel="stylesheet" href="assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	</head>

	<body class="no-skin">

		<div>
			<script type="text/javascript">
				try{ace.settings.loadState('main-container')}catch(e){}
			</script>

			<div >

				<!--导航栏-->
				<div class="breadcrumbs ace-save-state" id="breadcrumbs">
					<ul class="breadcrumb">
						<li class="active">新增角色</li>
					</ul>
				</div>


				<div class="col-xs-12">

					<div class="row">
						<div class="col-xs-2">
							<label>角色编码</label>
							<input type="text" class="form-control" id="name" name="name"/>
						</div>
					</div>

				</div>
				
			</div>

		</div>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">




		</script>
	</body>
</html>
