<html xmlns:th="http://www.thymeleaf.org">

<!--导航栏-->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-list-ul home-icon"></i>
			<a href="#">系统管理</a>
		</li>
		<li class="active">文件管理</li>
	</ul>
</div>

	<div class="col-xs-12" id="formData" style="background: white">

		<form id="fileForm" action="file/uploadFile" method="post" enctype="multipart/form-data">

			<!--设置选择文件的按钮透明度为0-->
			<input type="file" name="file" id="file" style="opacity: 0">

			<div class="row">
				<div class="col-xs-4">
					<div class="input-group">
						<input type="text" class="form-control" id="fileName" name="fileName" placeholder="上传文件名称" readonly/>
						<div class="input-group-btn">
							<button type="button" class="btn btn-default no-border btn-sm" onclick="chooseFile()">
								选择文件
							</button>
						</div>
					</div>
				</div>

				<div class="col-xs-1">
					<!-- type="button" 阻止表单提交，默认情况下，type为submit-->
					<button type="button" class="form-control pull-right btn btn-primary orange" onclick="save()">上传</button>
				</div>

			</div>

		</form>

	</div>

</html>

<script type="text/javascript">


    function save() {

        var formData = new FormData($( "#fileForm" )[0]);

        $.ajax({
            type: "Post",
            url: "file/uploadFile",
            data: formData,
            dataType: "JSON",
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.success) {
                    layer.msg(data.msg,{icon: 6});
					window.location.reload();
                }else {
                    layer.msg(data.msg,{icon: 5});
                }
            }, error: function (data) {

            }
        });
    }


    function chooseFile() {
        $("#file").click();
    }

    $("#file").change(function () {
        $('#fileName').val($(this).val());
    });

</script>
